html {
  font-family: helvetica;
  background-color: azure;
}

h1 {
  color: black;
  text-align: center;
}

table, td, th {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  table-layout: fixed;
}

thead {
  background-color: turquoise;
}
